<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate= "~{Manager/fragment/Manager-dashBoardLayout.html}" >

<head>

</head>

  <body>
    <main class="container mt-2" layout:fragment="content">
      <header class="row text-center"></header>
      <section class="row">
          <div class="col">
              <div class="card">
                  <div class="card-header">
                    <div class="row d-flex justify-content-between">

                      <div class="ml-3">
                        <h5>List Of User</h5>
                      </div>
                      <div class="row">
                    </div>
                      
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row mt-2 mb-2">
                      <div class="col">
        
                  
        
                        <div class="float-right">
                          <a href="/manager/users/add" class="btn btn-success"><strong>Add New User</strong></a>
                        </div>
                      </div>
        
        
                    </div>
                      <table class="table table-hover table-inverse">
                              <thead class="thead-inverse">
                                  <tr>
                                      <th class="">User ID</th>
                                      <th class="">Full Name</th>
                                      <th class="">Username</th>
                                      <th class="">Email</th>
                                      <th class="">Is Manager ?</th>
                                      <th class="">Is Seller ?</th>
                                  </tr> 
                              </thead>
                               <tbody>
                                  <tr th:each=" user : ${listUserDTO}">
                                      <td th:text="${user.id}" class="">346 36 </td>
                                      <td th:text="${user.fullname}" class=""> 36356 </td>
                                      <td th:text="${user.username}" class=""> 36356 </td>
                                      <td th:text="${user.email}" class=""> 363 </td>
                                      <td  class="">  
                                        <i th:if="${user.isManager == true}" class="fa fa-check-circle" aria-hidden="true"></i> 
                                      </td>
                                      <td class="">  
                                        <i th:if="${user.isSeller == true}" class="fa fa-check-circle" aria-hidden="true"></i> 
                                      </td>
                                  </tr>
                                      
                              </tbody>
                      </table>

                  </div>

              </div>
          </div>
      </section>
      <footer class="row"></footer>
    </main>
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
