<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate= "~{Seller/fragment/seller-dashBoardLayout.html}" >

<head>

</head>
  <body>
      
    <main class="container mt-2" layout:fragment="content">
        <header class="row text-center"></header>
        <section class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                      <div class="row d-flex justify-content-between">

                        <div class="ml-3">
                          <h5>Choose Clients</h5>
                        </div>
                        <div class="row">
                          <!-- <strong th:text="'User: ' + ${session.userLogined.fullname}" class="btn mr-2"></strong>
                                <strong th:text="'Position: ' + ${session.userLogined.position}" class="btn mr-2"></strong> -->
                          <!-- <a href="/seller" class="btn btn-light">Home</a> -->
                          <!-- <form action="/logout" method="post">
                              <button class="btn btn-light float-right mr-5">Logout</button>
                          </form> -->
                      </div>
                        
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row mt-2 mb-2">
                        
                        <div class="col">
                          <form th:action="@{/seller/booking/chooseClient}"  >
                            <div class="form-inline float-left">
                              <input type="text" class="form-control ml-2" name="key" id="key" aria-describedby="helpId" th:value="${key}" >  
                              <button class="btn btn-outline-primary ml-2"> Search</button>
                            </div>
                          </form>
                          <!-- <div th:if="${session.FULLNAME!=null}"  class="float-right"> -->
                            <!-- <a href="" class="btn btn-success float-right"><strong>Add New Client</strong></a> -->
                          <!-- </div> -->
                        </div>

                        
                      </div>


                        <table class="table table-hover table-inverse">
                                <thead class="thead-inverse">
                                    <tr >
                                        <th class="">Full Name</th>
                                        <th class="">Adress</th>
                                        <th class="">IdCard</th>
                                        <th class="">Tel</th>
                                        <th class="">Email</th>
                                        <th class=""></th>
                                    </tr> 
                                </thead>
                                 <tbody>
                                        <tr  th:each="client : ${clients}" >
                                            <td th:text="${client.fullname}" class=""> 36356 </td>
                                            <td th:text="${client.address}" class=""> 363 </td>
                                            <td th:text="${client.idCard}" class=""> 363 </td>
                                            <td th:text="${client.tel}" class=""> 3635 </td>
                                            <td th:text="${client.email}" class=""> 3635 </td>
                                            <td>
                                              <form th:action="@{/seller/booking/chooseClient}"  method="post">
                                                <input type="number" name="clientID" hidden th:value="${client.id}">
                                                <button class="btn btn-info">Choose Client</button>
                                              </form>
                                            </td>
                                        </tr>
                                        
                                </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </section>
        <footer class="row"></footer>
      </main>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>