<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate= "~{All/fragment/All-dashBoardLayout.html}" >

<head>

</head>
  <body>
      <main class="vh-100" layout:fragment="content">
        <section class="d-flex align-items-center justify-content-center h-100">
                <div class="col-3">
                    <form th:action="@{/authentication}" method="post">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                <b>Login To System</b>  
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                  <label for="username">Username <b style="color: red;">*</b> : </label>
                                  <input  name = "username" type="text" class="form-control"  id="username" aria-describedby="helpId" placeholder="" required>
                                  <small id="helpId" class="form-text text-muted"></small>
                                </div>
                                <div class="form-group">
                                  <label for="pasword">Password <b style="color: red;">*</b> : </label>
                                  <input name = "password" type="password" class="form-control" id="pasword" aria-describedby="helpId" placeholder="" required>
                                  <small id="helpId" class="form-text text-muted"></small>
                                </div>
                                
                                <div th:if="${error!=null}" class="alert alert-danger" role="alert">
                                    <it th:text="${error}"></it>
                                </div>
                            </div>
                            <div class="card-footer text-muted ">
                                  <button class="btn btn-primary ">  <i class="fa fa-sign-in" aria-hidden="true"></i> Login</button> &nbsp;   
                            </div>
                            
                        </div>
                    </form>
                    
                </div>
        </section>
       
      </main>
      
          
      <!-- d-flex align-items-center justify-content-center vh-100 -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>